body {
    height: 100%;
}

section {
    height: 600px;
}

.hero {
    background: radial-gradient(circle at 76% 28%,
            rgba(41, 76, 104, 1),
            rgba(26, 60, 90, 1),
            rgb(11, 40, 64));
}

.section-2 {
    background-color: #F6B51D;
}

.bg-transparent {
    background: none !important;
    background-color: transparent !important;
    background-image: none !important;
}

/* #region WAVE SEPERATOR */
.orange-wave-div {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.orange-wave-div svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
}

.orange-wave-div .shape-fill {
    fill: #F6B51D;
}

/* #endregion */